<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../moment.html">

<dom-module id="dir-loc">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				box-sizing: border-box;
			}
			#dirLoc {
				width: 100%;
				height: 100%;
			}
		</style>
		<iron-ajax
			id="viewAjax"
			url="{{_getUrl(settings)}}"
			handle-as="json"
			loading="{{mainLoading}}"
			on-response="_onViewFetch"
			verbose>
		</iron-ajax>
		<vaadin-grid
			id="dirLoc">
			<table>
				<colgroup>
					<col name="Location" />
					<col name="Loc_Ext" />
					<col name="Loc_Number" />
					<col name="Loc_Other" />
				</colgroup>
				<thead>
					<tr>
						<th>Location</th>
						<th>Extension</th>
						<th>Number</th>
						<th>Other</th>
					</tr>
				</thead>
			</table>
		</vaadin-grid>
	</template>
</dom-module>

<script type="text/javascript" src="dir-loc.js"></script>
