<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/now-basic-app-layout/now-basic-app-layout.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<!-- Authentication code for Domino; redirects to the login page if the user isn't authenticated.
    REMOVE THIS IF YOUR ARE NOT USING DOMINO AUTHENTICATION.-->
<link rel="import" href="../../bower_components/now-domino-auth/now-domino-auth.html">

<link rel="import" href="../../styles/app-theme.html">
<link rel="import" href="../../styles/shared-styles.html">


<!--Remember to add all views to the ap-->
<link rel="import" href="../dir-all/dir-all.html">
<link rel="import" href="../dir-emp/dir-emp.html">
<link rel="import" href="../dir-off/dir-off.html">
<link rel="import" href="../dir-dep/dir-dep.html">
<link rel="import" href="../dir-loc/dir-loc.html">

<!--Document Views-->
<link rel="import" href="../dir-doc/dir-doc.html">
<link rel="import" href="../dir-doc-loc/dir-doc-loc.html">

<!--POSTS-->
<link rel="import" href="../dir-request/dir-request.html">
<link rel="import" href="../dir-request-loc/dir-request-loc.html">



<!--ICONS-->
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<dom-module id="dir-app">
    <template>
        <style include="shared-styles iron-flex iron-flex-alignment iron-flex-reverse">
            .emphasis {
                font-style: italic;
            }
            
            #add,
            #editRec,
            #editLoc {
                text-decoration: none;
                color: var(--primary-text-color);
                font-size: 14pt;
                padding-right: 1em;
            }
            
            #addButton,
            #editButtonRec,
            #editButtonLoc {
                text-transform: none;
            }
            
            #add iron-icon, 
            #editRec iron-icon,
            #editLoc iron-icon{
                --iron-icon-height: 32px;
                --iron-icon-width: 32px;
                --iron-icon: {
                    vertical-align: bottom;
                }
                ;
                color: var(--success-color);
            }

        </style>

        <now-basic-app-layout id="appLayout" selected-page-property="data-route" header-title="CFOT Phone Directory" logo="images/SA_Header_Logo.png"
            footer-logo="images/RPN_Footer_logo.png" copyright-notice="&copy; 2016 Red Pill Now. All Rights Reserved." home-route="/dirAll"
            route="{{route}}" subroute="{{subroute}}" main-loading="{{mainLoading}}" use-hash-as-path animation-type="none">

            <div header-content>
                <a id="add" href="#/request/new" id="addRequest">
                    <paper-button id="addButton">
                        <iron-icon class="big" icon="social:person-add"></iron-icon>
                        Add New Record
                    </paper-button>
                </a>
                <a id="add" href="#/requestLoc/new" id="addRequestLoc">
                    <paper-button id="addButton">
                        <iron-icon class="big" icon="maps:add-location"></iron-icon>
                        Add New Location
                    </paper-button>
                </a>

                <a id="editRec" onclick="recEdit()" style="display: none;">
                    <paper-button id="editButtonRec">
                        <iron-icon class="big" icon="editor:mode-edit"></iron-icon>
                        Edit Record
                    </paper-button>
                </a>

                <a id="editLoc" onclick="locEdit()" style="display: none;">
                    <paper-button id="editButtonLoc">
                        <iron-icon class="big" icon="maps:edit-location"></iron-icon>
                        Edit Location
                    </paper-button>
                </a>

            </div>

            <neon-animatable data-route="dirAll" title="All">
                <dir-all settings="{{settings}}" main-loading="{{mainLoading}}" route="{{route}}">
                </dir-all>
            </neon-animatable>

            <neon-animatable data-route="dirEmp" title="Employees">
                <dir-emp settings="{{settings}}" main-loading="{{mainLoading}}" route="{{route}}">
                </dir-emp>
            </neon-animatable>

            <neon-animatable data-route="dirOff" title="Officers">
                <dir-off settings="{{settings}}" main-loading="{{mainLoading}}" route="{{route}}">
                </dir-off>
            </neon-animatable>

            <neon-animatable data-route="dirDep" title="Departments">
                <dir-dep settings="{{settings}}" main-loading="{{mainLoading}}" route="{{route}}">
                </dir-dep>
            </neon-animatable>

            <neon-animatable data-route="dirLoc" title="Locations">
                <dir-loc settings="{{settings}}" main-loading="{{mainLoading}}" route="{{route}}">
                </dir-loc>
            </neon-animatable>

            <neon-animatable data-route="doc" data-invisible>
                <dir-doc settings="{{settings}}" main-loading="{{mainLoading}}" selected-doc="{{docData.unid}}">
                </dir-doc>
            </neon-animatable>

            <neon-animatable data-route="docLoc" data-invisible>
                <dir-doc-loc settings="{{settings}}" main-loading="{{mainLoading}}" selected-doc="{{docData.unid}}">
                </dir-doc-loc>
            </neon-animatable>

            <neon-animatable data-route="request" data-invisible>
                <dir-request settings="{{settings}}" main-loading="{{mainLoading}}" selected-doc="{{docData.unid}}">
                </dir-request>
            </neon-animatable>

            <neon-animatable data-route="requestLoc" data-invisible>
                <dir-request-loc settings="{{settings}}" main-loading="{{mainLoading}}" selected-doc="{{docData.unid}}">
                </dir-request-loc>
            </neon-animatable>

        </now-basic-app-layout>

        <iron-ajax id="settingsAjax" url="{{_getSettingsUrl()}}" last-response="{{settings}}" loading="{{mainLoading}}" handle-as="json"
            auto verbose>
        </iron-ajax>

<!--View Record-->
        <app-route id="documentRoute" pattern="/doc/:unid" route="{{route}}" data="{{docData}}">
        </app-route>
<!--View Location-->
        <app-route id="documentRoute" pattern="/docLoc/:unid" route="{{route}}" data="{{docData}}">
        </app-route>


<!--Add Record-->
        <app-route id="documentRoute" pattern="/request/:unid" route="{{route}}" data="{{docData}}">
        </app-route>
<!--Add Location-->
        <app-route id="documentRoute" pattern="/requestLoc/:unid" route="{{route}}" data="{{docData}}">
        </app-route>


    </template>
</dom-module>

<script type="text/javascript" src="dir-app.js"></script>