<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../../bower_components/gold-phone-input/gold-phone-input.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<link rel="import" href="../quoted-printable.html">

<dom-module id="dir-request">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
			}
			
			.small {
				font-size: 8pt;
			}
			
			.big {
				font-size: 125%;
			}
			
			.label {
				font-family: 'Roboto', 'Noto', sans-serif;
				-webkit-font-smoothing: antialiased;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: 0.011em;
				line-height: 20px;
				color: var(--primary-text-color);
			}

			.submit {
				padding: 10px 20px;
				margin: 10px 0;
			}
			
			#status-info {}
			
			.right-column {
				margin-left: 5vw;
				@apply(--layout-vertical);
				@apply(--layout-self-end);
				@apply(--layout-flex-2);
			}
			
			.left-aligned-right-column {
				margin-left: 1vw;
				@apply(--layout-horizontal);
				@apply(--layout-start-justified);
				@apply(--layout-flex-2);
			}
			
			.left-column {
				@apply(--layout-flex-3);
			}
			
			.signature-right-column {
				margin-left: 5vw;
				@apply(--layout-vertical);
				@apply(--layout-self-end);
				@apply(--layout-flex-2);
			}
			
			.signature-right-column {
				margin-left: 1vw;
				@apply(--layout-horizontal);
				@apply(--layout-start-justified);
				@apply(--layout-flex-5);
			}
			
			.row {
				@apply(--layout-horizontal);
				@apply(--layout-justified);
			}
			
			vaadin-date-picker {
				--vaadin-date-picker-overlay: {
					max-height: 340px;
				}
				;
				--vaadin-date-picker-calendar-cell-selected: {
					color: var(--primary-text-color);
				}
			}
			
			#furloughLabel {
				margin-top: 1.5em;
				@apply(--layout-self-center);
			}
			
			.full-row {
				@apply(--layout-horizontal);
				@apply(--layout-flex);
			}
			
			.full-centered-row {
				@apply(--layout-horizontal);
				@apply(--layout-flex);
				@apply(--layout-center-justified);
			}
			
			.indent {
				margin-left: 1.5em;
			}
			
			.radio-label {
				@apply(--layout-self-center);
			}
			
			#reqno {
				@apply(--layout-flex);
				margin-top: 1em;
			}
			
			paper-checkbox {
				@apply(--layout-self-center);
			}
			
			.submit {
				@apply(--submit-button);
				padding: 10px 20px;
			}
			
			#submitAndAddAnother {
				@apply(--submit-button);
				background: var(--dark-accent-color);
			}
		</style>

		<app-location id="location" route="{{route}}" use-hash-as-path></app-location>

		<app-route route="{{route}}" pattern="/request/:docId" data="{{routeData}}"></app-route>

		<iron-ajax id="postAjax" url="{{_postUrl(settings)}}" content-type="application/json" handle-as="json" method="POST" bubbles="true"
			on-response="_close" debounce-duration="300" verbose></iron-ajax>

		<iron-ajax id="putAjax" url="{{_putUrl(settings, selectedDoc)}}" content-type="application/json" handle-as="json" method="PUT"
			bubbles="true" on-response="_close" debounce-duration="300" verbose></iron-ajax>

		<iron-ajax id="docAjax" url="{{_getUrl(settings, selectedDoc)}}" handle-as="json" on-response="_parseRequest" last-response="{{doc}}"
			loading="{{mainLoading}}" verbose>
		</iron-ajax>

		<div class="card">
			<form is="iron-form" id="form">
				<div class="layout vertical">
					<h2 class="self-center title">{{doc.First_Name}} {{doc.Last_Name}}</h2>
					<span class="small self-center title">Person Type: {{doc.Type}}</span>
					
					<div class="row">
						<template is="dom-bind" id="personTypeCombo">
							<vaadin-combo-box label="Person Type" class="personType" items="[[personType]]" value="{{doc.Type}}"></vaadin-combo-box>
						</template>
						<style>
							vaadin-combo-box {
								max-width: 300px;
							}
						</style>
						<script>
							  var personTypeCombo = document.querySelector('#personTypeCombo');
								personTypeCombo.addEventListener('dom-change', function() {
									personTypeCombo.personType = [
									'Employee', 'Officer', 'Joyful Intercessors', 'Messengers of Light'					
									];
								});
						</script>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input label="First Name" readonly="{{_isViewMode]]" value="{{doc.First_Name}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>
					
					<div class="row">
						<div class="left-column">
							<paper-input label="Last Name" readonly="{{_isViewMode]]" value="{{doc.Last_Name}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					

					<div class="row">
						<div class="left-column">
							<paper-input label="Extension" readonly="{{_isViewMode]]" value="{{doc.Extention}}" maxlength="5" auto-validate allowed-pattern="[0-9]"
								error-message="Enter 4 numbers!"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<gold-phone-input label="Phone Number" readonly="{{_isViewMode]]" value="{{doc.Phone_Number}}" maxlength="12" country-code="1"
								auto-validate allowed-pattern="[0-9]" error-message="Enter 10 numbers!"></gold-phone-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<gold-phone-input label="Cell Number" readonly="{{_isViewMode]]" value="{{doc.Cell_Number}}" maxlength="12" country-code="1"
								auto-validate allowed-pattern="[0-9]" error-message="Enter 10 numbers!"></gold-phone-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<gold-phone-input label="Home Number" readonly="{{_isViewMode]]" value="{{doc.Home_Number}}" maxlength="12" country-code="1"
								auto-validate allowed-pattern="[0-9]" error-message="Enter 10 numbers!"></gold-phone-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<gold-phone-input label="Other Number" readonly="{{_isViewMode]]" value="{{doc.Other_Number}}" maxlength="12" country-code="1"
								auto-validate allowed-pattern="[0-9]" error-message="Enter 10 numbers!"></gold-phone-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<template is="dom-bind" id="departmentCombo">
							<vaadin-combo-box label="Department" class="department" items="[[department]]" value="{{doc.Department}}"></vaadin-combo-box>
						</template>
						<style>
							vaadin-combo-box {
								max-width: 300px;
							}
						</style>
						<script>
							  var departmentCombo = document.querySelector('#departmentCombo');
								departmentCombo.addEventListener('dom-change', function() {
									departmentCombo.department = [
									'Administration', 'Business', 'Curriculum', 'Distance Education', 'Family Care', 'Family Life Ministries', 
									'Field Training', 'Information Technology', 'Kitchen', 'Library', 'Maintenance', 'Personnel', 'Railton', 
									'Special Services', 'Youth Services', 'Campus Services', 'Joyful Intercessors', 'Messengers of Light'					
									];
								});
						</script>
					</div>


					<!-- SUBMIT BUTTON-->
					<div class="row margin-top">
						<div class="left-column">
							<paper-button id="submit" class="submit self-center margin-left">Submit</paper-button>
						</div>
						<div class="right-column">
						</div>
					</div>

					<!--End layout verticle-->
				</div>
			</form>
		</div>

	</template>
</dom-module>

<script type="text/javascript" src="dir-request.js"></script>