<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../quoted-printable.html">

<dom-module id="dir-doc">
	<template>
		<style is="custom-style" include="shared-styles iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;
				height: 100%;
			}
			
			.small {
				font-size: 12px;
			}
			
			.issuedBy {
				margin-bottom: 5px;
			}
			
			.material {
				max-width: 100%;
				background-color: white;
				padding: 15px;
			}
			
			.title {
				margin-bottom: 3px;
			}
			
			.row {
				@apply(--layout-horizontal);
				@apply(--layout-justified);
			}
			
			.full-row {
				@apply(--layout-horizontal);
				@apply(--layout-flex);
			}
			
			.left-column {
				@apply(--layout-flex-3);
			}
			
			.margin-top {
				margin-top: 1em;
			}
			
			.right-column {
				margin-left: 5vw;
				@apply(--layout-vertical);
				@apply(--layout-self-end);
				@apply(--layout-flex-2);
			}
			
			.submit {
				@apply(--submit-button);
			}
			
			vaadin-date-picker {
				--vaadin-date-picker-overlay: {
					max-height: 340px;
				}
				;
				--vaadin-date-picker-calendar-cell-selected: {
					color: var(--primary-text-color);
				}
			}
			
			.submit {
				padding: 10px 20px;
				margin: 10px 0;
			}
		</style>

		<app-location id="location" route="{{route}}" use-hash-as-path></app-location>

		<app-route route="{{route}}" pattern="/doc/:docId" data="{{routeData}}"></app-route>

		<iron-ajax id="postAjax" url="{{_postUrl(settings)}}" content-type="application/json" handle-as="json" method="POST" bubbles="true"
			on-response="_close" debounce-duration="300" verbose></iron-ajax>

		<iron-ajax id="putAjax" url="{{_putUrl(settings, selectedDoc)}}" content-type="application/json" handle-as="json" method="PUT"
			bubbles="true" on-response="_close" debounce-duration="300" verbose></iron-ajax>

		<iron-ajax id="docAjax" url="{{_getUrl(settings, selectedDoc)}}" handle-as="json" on-response="_parseRequest" last-response="{{doc}}"
			loading="{{mainLoading}}" verbose>
		</iron-ajax>

		<div class="card">
			<paper-material elevation="1" class="material">
				<div class="layout vertical">
					<h2 class="self-center title">{{doc.First_Name}} {{doc.Last_Name}}</h2>
					<span class="small self-center title">Person Type: {{doc.Type}}</span>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Employee Type" readonly="true" value="{{doc.Type}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<!--<div class="row">
						<template is="dom-bind" id="personTypeCombo">
							<vaadin-combo-box label="Person Type" class="personType editable_paper" readonly="true" items="[[personType]]" selectedItem="{{doc.Type}}" value="{{doc.Type}}"></vaadin-combo-box>
						</template>
						<style>
							vaadin-combo-box {
								max-width: 300px;
							}
						</style>
						<script>
							  var personTypeCombo = document.querySelector('#personTypeCombo');
								personTypeCombo.addEventListener('dom-change', function() {
									personTypeCombo.personType = [
									'Employee', 'Officer', 'Joyful Intercessors', 'Messengers of Light'					
									];
								});
						</script>
					</div>-->

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Last Name" readonly="true" value="{{doc.Last_Name}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="First Name" readonly="true" value="{{doc.First_Name}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Extension" readonly="true" value="{{doc.Extention}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Phone Number" readonly="true" value="{{doc.Phone_Number}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Cell Number" readonly="true" value="{{doc.Cell_Number}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Home Number" readonly="true" value="{{doc.Home_Number}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Other Number" readonly="true" value="{{doc.Other_Number}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div class="row">
						<div class="left-column">
							<paper-input class='editable_paper' label="Department" readonly="true" value="{{doc.Department}}"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>

					<div id="docHistoryRow" class="row margin-top">
						<div class="full-row">
							Save History: [[doc.SaveHistory]]
						</div>
					</div>

					<!-- SUBMIT BUTTON-->
					<div class="row margin-top">
						<div class="left-column">
							<paper-button id="submit" style="display: none;" class="submit self-center margin-left">Submit</paper-button>
						</div>
						<div class="right-column">
						</div>
					</div>

				</div>
			</paper-material>
		</div>
	</template>
</dom-module>

<!--Used to Edit Record-->
<script>
function recEdit(){
var inputsDir = document.querySelectorAll('.editable_paper');
var submitDir = document.getElementById('submit');

for (var i=0; i < inputsDir.length; i++){
inputsDir[i].removeAttribute('readonly');
}
submitDir.style.display = 'inline-block';
	
}

function recEditClose(){
var inputsDir = document.querySelectorAll('.editable_paper');
var submitDir = document.getElementById('submit');

for (var i=0; i < inputsDir.length; i++){
inputsDir[i].setAttribute('readonly', 'true');
}

submitDir.style.display = 'none';
	
}

</script>
<script type="text/javascript" src="dir-doc.js"></script>